html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="./assets/css/style.min.css")
    title test loading
  body
    #loadingBg
    #loading
      #percent
        span#percent-text
        | ％
      #gauge
    .loading
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    .testImg
      img(src="./assets/images/img.jpg")
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    //.testImg
    script(src="./assets/js/app.js")
