#loadingBg {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: #ffffff;
}
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 50px 20px;
  margin: -70px 0 0 -220px;
  background: #ffffff;
}
#loading #percent {
  margin-bottom: 5px;
  text-align: center;
  font-size: 16px;
}
#loading #gauge {
  width: 0px;
  height: 5px;
  background: #ff0000;
}

.testImg {
  width: auto;
  height: 100vh;
  //background: url("../images/img.jpg");
}
